In [1]:
import pandas as pd

In [34]:
# 导入
dt = pd.read_csv('assignment-01-data-unformated.csv', header=1)

In [35]:
dt.head(10)

,name,longitude,latitude,2017,2016,2015,2014,2013,2012,2011,...,2011.3,2010.3,2017.4,2016.4,2015.4,2014.4,2013.4,2012.4,2011.4,2010.4
0,site01,143.515,-11.843,83.870%,80.210%,75.340%,74.990%,57.700%,56.430%,55.430%,...,19.340%,NaN,15.780%,12.650%,12.450%,10.760%,8.760%,8.510%,8.120%,5.330%
1,site02,147.898,18.937,21.230%,19.230%,17.210%,15.780%,14.800%,NaN,NaN,...,NaN,NaN,80.130%,70.120%,30.890%,29.480%,28.900%,28.610%,NaN,NaN
2,site03,144.081,-10.321,75.340%,60.230%,37.210%,26.890%,25.890%,NaN,NaN,...,NaN,NaN,9.340%,9.120%,9.012%,9.010%,8.790%,8.590%,NaN,NaN
3,site04,150.444,-20.414,12.450%,11.780%,11.340%,10.980%,10.890%,10.670%,10.230%,...,15.970%,15.950%,41.230%,38.230%,36.210%,34.120%,30.760%,29.180%,29.010%,26.990%
4,site05,143.786,-13.107,94.230%,91.230%,76.230%,60.230%,30.230%,28.450%,29.130%,...,NaN,NaN,37.230%,36.120%,36.100%,35.340%,35.120%,34.790%,34.670%,30.190%
5,site06,146.589,-17.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67.870%,60.340%,59.230%,52.560%,50.230%,49.110%,49.010%,47.980%
6,site07,145.043,-14.383,67.890%,60.780%,58.760%,56.450%,55.120%,40.120%,39.980%,...,15.030%,NaN,40.120%,38.340%,36.780%,34.670%,32.480%,30.350%,30.100%,25.560%
7,site08,145.715,-16.091,65.230%,63.210%,60.120%,60.030%,58.890%,NaN,NaN,...,NaN,NaN,39.000%,10.450%,4.340%,4.190%,3.890%,3.710%,NaN,NaN

#### 修改数据

In [113]:
# 生成地点名列
ls_site = dt['name'].tolist()
ls_site

['site01',
 'site02',
 'site03',
 'site04',
 'site05',
 'site06',
 'site07',
 'site08']

In [158]:
sites = []
for i in range(1, 41):
    sites += ls_site
    i+=1
    
print(len(sites))

# 新的name列
col_site = pd.Series(sites)

320

In [166]:
# 生成经度
long = dt['longitude'].tolist()
longis= []
for i in range(1, 41):
    longis += long
    i+=1
    
print(len(longis))

# 新的经度列
col_long = pd.Series(longis)

320

In [160]:
# 生成纬度
lats = dt['latitude'].tolist()
latis= []
for i in range(1, 41):
    latis += lats
    i+=1
    
print(len(latis))

# 新的纬度列
col_lat = pd.Series(latis)

320

In [161]:
# 珊瑚种类
coral_ls = ["soft corals"]*64 + ["sea fans"]*64 + ["blue corals"]*64 + ["hard corals"]*64 + ["sea pens"]*64
print(len(coral_ls))

# 珊瑚种类列
col_type = pd.Series(coral_ls)

320

In [153]:
# 拆分白化列
ls_cols = dt.columns.tolist()
print(len(ls_cols))
ls_cols2 = ls_cols[3:]

43

In [162]:
dt2 = dt.loc[:, ls_cols2]
dt2.head()

In [163]:
# 白化率宽数据变长数据
sub_bleach = pd.melt(dt2, value_vars=ls_cols2, var_name='Year', value_name='bleaching')

sub_bleach.shape[0]

320

In [181]:
sub_bleach.head(80)

      Year bleaching
0     2017   83.870%
1     2017   21.230%
2     2017   75.340%
3     2017   12.450%
4     2017   94.230%
5     2017       NaN
6     2017   67.890%
7     2017   65.230%
8     2016   80.210%
9     2016   19.230%
10    2016   60.230%
11    2016   11.780%
12    2016   91.230%
13    2016       NaN
14    2016   60.780%
15    2016   63.210%
16    2015   75.340%
17    2015   17.210%
18    2015   37.210%
19    2015   11.340%
20    2015   76.230%
21    2015       NaN
22    2015   58.760%
23    2015   60.120%
24    2014   74.990%
25    2014   15.780%
26    2014   26.890%
27    2014   10.980%
28    2014   60.230%
29    2014       NaN
..     ...       ...
50    2011       NaN
51    2011   10.230%
52    2011   29.130%
53    2011       NaN
54    2011   39.980%
55    2011       NaN
56    2010   56.290%
57    2010       NaN
58    2010       NaN
59    2010   10.010%
60    2010   14.450%
61    2010       NaN
62    2010   40.340%
63    2010       NaN
64  2017.1   47.320%
65  2017.1   56.320%
66  2017.1   75.230%
67  2017.1   77.890%
68  2017.1   48.340%
69  2017.1   86.450%
70  2017.1       NaN
71  2017.1   48.230%
72  2016.1   47.120%
73  2016.1   54.320%
74  2016.1   50.210%
75  2016.1   65.230%
76  2016.1   46.230%
77  2016.1   75.640%
78  2016.1       NaN
79  2016.1   45.320%

[80 rows x 2 columns]

In [183]:
#新建年份列，用于合并
y1 = []
sub = 2017

for i in range(1,9):
    y1 += [sub]*8
    sub-=1

y2 = []

for j in range(1,6):
    y2 += y1
    
# 生成年份列
col_year = pd.Series(y2)

In [184]:
# 提取白化率
col_bleach = sub_bleach.loc[:, 'bleaching']

#### 整合成新表

In [186]:
new_dict = {'name':col_site,'longitude':col_long,'latitude':col_lat,'Coral Type':col_type, 'Year': col_year, 'Bleaching': col_bleach}
new_set = pd.DataFrame(new_dict)

In [187]:
new_set.head()

     name  longitude  latitude   Coral Type  Year Bleaching
0  site01    143.515   -11.843  soft corals  2017   83.870%
1  site02    147.898    18.937  soft corals  2017   21.230%
2  site03    144.081   -10.321  soft corals  2017   75.340%
3  site04    150.444   -20.414  soft corals  2017   12.450%
4  site05    143.786   -13.107  soft corals  2017   94.230%

In [189]:
output = new_set.to_csv('wrangled_bleach.csv', index=False)